DEMOCOPSTEOC/Workflows/Child-RemoveUserfromIncidentSlackChannel-C7064347-CC74-EE11-9AE7-000D3A4EE67C.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "3428b9ac-570a-42ef-8961-a3d2ddd8a736"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "channelID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "HTTP": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d28c2791-6899-471e-9681-dbc3bad205c3"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://slack.com/api/conversations.kick",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "authorization": "Bearer xoxp-5412230805462-5457731583328-6099540725526-73739fcd3d6dafcc5f7aba0e8b80364d"
            },
            "body": "channel=@{triggerBody()['text']}&user=@{body('Parse_JSON')?['user']?['id']}"
          }
        },
        "HTTP_2": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f560d7cd-541e-494d-83e9-61e8e984a5cc"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://slack.com/api/users.lookupByEmail",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "authorization": "Bearer xoxp-5412230805462-5457731583328-6099540725526-73739fcd3d6dafcc5f7aba0e8b80364d"
            },
            "body": "email=@{triggerBody()['text_1']}"
          }
        },
        "Parse_JSON": {
          "runAfter": {
            "HTTP_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf61b7d0-6c70-47ce-a933-e8fd5879cee6"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_2')",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "color": {
                      "type": "string"
                    },
                    "real_name": {
                      "type": "string"
                    },
                    "tz": {
                      "type": "string"
                    },
                    "tz_label": {
                      "type": "string"
                    },
                    "tz_offset": {
                      "type": "integer"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "skype": {
                          "type": "string"
                        },
                        "real_name": {
                          "type": "string"
                        },
                        "real_name_normalized": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "display_name_normalized": {
                          "type": "string"
                        },
                        "fields": {},
                        "status_text": {
                          "type": "string"
                        },
                        "status_emoji": {
                          "type": "string"
                        },
                        "status_emoji_display_info": {
                          "type": "array"
                        },
                        "status_expiration": {
                          "type": "integer"
                        },
                        "avatar_hash": {
                          "type": "string"
                        },
                        "image_original": {
                          "type": "string"
                        },
                        "is_custom_image": {
                          "type": "boolean"
                        },
                        "email": {
                          "type": "string"
                        },
                        "huddle_state": {
                          "type": "string"
                        },
                        "huddle_state_expiration_ts": {
                          "type": "integer"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "image_24": {
                          "type": "string"
                        },
                        "image_32": {
                          "type": "string"
                        },
                        "image_48": {
                          "type": "string"
                        },
                        "image_72": {
                          "type": "string"
                        },
                        "image_192": {
                          "type": "string"
                        },
                        "image_512": {
                          "type": "string"
                        },
                        "image_1024": {
                          "type": "string"
                        },
                        "status_text_canonical": {
                          "type": "string"
                        },
                        "team": {
                          "type": "string"
                        }
                      }
                    },
                    "is_admin": {
                      "type": "boolean"
                    },
                    "is_owner": {
                      "type": "boolean"
                    },
                    "is_primary_owner": {
                      "type": "boolean"
                    },
                    "is_restricted": {
                      "type": "boolean"
                    },
                    "is_ultra_restricted": {
                      "type": "boolean"
                    },
                    "is_bot": {
                      "type": "boolean"
                    },
                    "is_app_user": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "is_email_confirmed": {
                      "type": "boolean"
                    },
                    "has_2fa": {
                      "type": "boolean"
                    },
                    "who_can_share_contact_card": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "672e5b89-7388-4664-95cb-7296470c5910"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}