DEMOCOPSTEOC/Workflows/Child-AddusertoIncidentSlackChannel-8AB42701-CA74-EE11-9AE7-000D3A4EE67C.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "4ac093ed-5874-46de-8b42-1b2a77bdf169"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "email",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "channelID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          }
        }
      },
      "actions": {
        "HTTP_2": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "800f46df-431b-4207-8fe7-164394a57128"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://slack.com/api/users.lookupByEmail",
            "headers": {
              "Content-Type": "application/x-www-form-urlencoded",
              "authorization": "Bearer xoxp-5412230805462-5457731583328-6099540725526-73739fcd3d6dafcc5f7aba0e8b80364d"
            },
            "body": "email=@{triggerBody()['text']}"
          }
        },
        "Condition": {
          "actions": {
            "HTTP_3": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "93f611e8-b6be-4a8a-8776-6b0d3d1dc533"
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://slack.com/api/admin.users.invite",
                "headers": {
                  "Content-Type": "application/x-www-form-urlencoded",
                  "authorization": "Bearer xoxp-5412230805462-5457731583328-6099540725526-73739fcd3d6dafcc5f7aba0e8b80364d"
                },
                "body": "channel_ids=@{triggerBody()['text_1']}&email=@{triggerBody()['text']}&team_id=T05C46SPPDL"
              }
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "HTTP": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "64f98532-1c2a-48f9-9c42-4b8afca0e446"
                },
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "https://slack.com/api/conversations.invite",
                  "headers": {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "authorization": "Bearer xoxp-5412230805462-5457731583328-6099540725526-73739fcd3d6dafcc5f7aba0e8b80364d"
                  },
                  "body": "channel=@{triggerBody()['text_1']}&users=@{body('Parse_JSON')?['user']?['id']}"
                }
              }
            }
          },
          "expression": {
            "contains": [
              "@string(body('HTTP_2'))",
              "users_not_found"
            ]
          },
          "metadata": {
            "operationMetadataId": "327bb599-3e18-4907-a8df-92640082eee5"
          },
          "type": "If"
        },
        "Parse_JSON": {
          "runAfter": {
            "HTTP_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c5695c1-e965-46ea-b361-8754f8e66adf"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_2')",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "color": {
                      "type": "string"
                    },
                    "real_name": {
                      "type": "string"
                    },
                    "tz": {
                      "type": "string"
                    },
                    "tz_label": {
                      "type": "string"
                    },
                    "tz_offset": {
                      "type": "integer"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "skype": {
                          "type": "string"
                        },
                        "real_name": {
                          "type": "string"
                        },
                        "real_name_normalized": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "display_name_normalized": {
                          "type": "string"
                        },
                        "fields": {},
                        "status_text": {
                          "type": "string"
                        },
                        "status_emoji": {
                          "type": "string"
                        },
                        "status_emoji_display_info": {
                          "type": "array"
                        },
                        "status_expiration": {
                          "type": "integer"
                        },
                        "avatar_hash": {
                          "type": "string"
                        },
                        "image_original": {
                          "type": "string"
                        },
                        "is_custom_image": {
                          "type": "boolean"
                        },
                        "email": {
                          "type": "string"
                        },
                        "huddle_state": {
                          "type": "string"
                        },
                        "huddle_state_expiration_ts": {
                          "type": "integer"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "image_24": {
                          "type": "string"
                        },
                        "image_32": {
                          "type": "string"
                        },
                        "image_48": {
                          "type": "string"
                        },
                        "image_72": {
                          "type": "string"
                        },
                        "image_192": {
                          "type": "string"
                        },
                        "image_512": {
                          "type": "string"
                        },
                        "image_1024": {
                          "type": "string"
                        },
                        "status_text_canonical": {
                          "type": "string"
                        },
                        "team": {
                          "type": "string"
                        }
                      }
                    },
                    "is_admin": {
                      "type": "boolean"
                    },
                    "is_owner": {
                      "type": "boolean"
                    },
                    "is_primary_owner": {
                      "type": "boolean"
                    },
                    "is_restricted": {
                      "type": "boolean"
                    },
                    "is_ultra_restricted": {
                      "type": "boolean"
                    },
                    "is_bot": {
                      "type": "boolean"
                    },
                    "is_app_user": {
                      "type": "boolean"
                    },
                    "updated": {
                      "type": "integer"
                    },
                    "is_email_confirmed": {
                      "type": "boolean"
                    },
                    "has_2fa": {
                      "type": "boolean"
                    },
                    "who_can_share_contact_card": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "06d6b1c8-271d-4865-ab81-87e5e09e9551"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {},
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}