DEMOCOPSTEOC/Workflows/VTEOC-Parent-IncidentCreated-900CA5CD-600C-EE11-8F6E-000D3A190120.json
{
  "properties": {
    "connectionReferences": {
      "shared_teams_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_cadd0"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_23120"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "democop_sharedcommondataserviceforapps_70956"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "VTEOC-FailureNotificationEmail (new_FailureNotificationEmail)": {
          "defaultValue": "shawk@devgh.onmicrosoft.com",
          "type": "String",
          "metadata": {
            "schemaName": "new_FailureNotificationEmail"
          }
        },
        "VTEOC-SecretID-NoEncryption (democop_DEMOSecretIDNoEncryption)": {
          "defaultValue": "Y8U8Q~4cdr9mAKSV6ciavuYI1Llm1-yMvlDlWcO~",
          "type": "String",
          "metadata": {
            "schemaName": "democop_DEMOSecretIDNoEncryption"
          }
        },
        "VTEOC-TenantID (democop_DEMOTenantID)": {
          "defaultValue": "06901596-5550-425c-abe0-3240ed6ec7ae",
          "type": "String",
          "metadata": {
            "schemaName": "democop_DEMOTenantID"
          }
        },
        "VTEOC-ClientID (new_ClientID)": {
          "defaultValue": "e828c76f-d638-4023-a6f9-2923b706539c",
          "type": "String",
          "metadata": {
            "schemaName": "new_ClientID",
            "description": "e828c76f-d638-4023-a6f9-2923b706539c"
          }
        }
      },
      "triggers": {
        "When_an_incident_is_created": {
          "metadata": {
            "operationMetadataId": "8d2a2066-c75b-4c2f-a8aa-0100f984d5e4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "crb97_teocincidenttransaction_3",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_varTeamName": {
          "runAfter": {
            "Initialize_variable_-_Secret_ID_Value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6811a6e0-8ede-4f0f-9a41-7f209328ce88"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varTeamName",
                "type": "string",
                "value": "@outputs('Get_item')?['body/crb97_title']"
              }
            ]
          }
        },
        "Compose_-_team_name": {
          "runAfter": {
            "Initialize_variable_varHostname": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "70c82023-4f8b-44bb-9b1d-6f882b5b2614"
          },
          "type": "Compose",
          "inputs": "@concat(variables('TEOCNumber'),'-',variables('varTeamName'))"
        },
        "Set_variable_varTeamName2": {
          "runAfter": {
            "Initialize_variable_groupID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d07aa34d-656b-420c-a664-ad066ad01e2a"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varTeamName",
            "value": "@{outputs('Compose_-_team_name')}"
          }
        },
        "Initialize_variable_groupID": {
          "runAfter": {
            "Compose_-_team_name": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "291dac9c-6847-4c64-a5de-1a8f6ada4a41"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "groupID",
                "type": "string"
              }
            ]
          }
        },
        "add_service_account_as_owner_to_team": {
          "runAfter": {
            "Remove_quotes_from_siteusername_because_of_power_automate_weirdness": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa4fa670-83f3-480f-a5a3-e761dc2aabdd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "AddMemberToTeam",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "teamId": "@triggerOutputs()?['body/crb97_teamid']",
              "body/userId": "oeprdata@devgh.onmicrosoft.com",
              "body/owner": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Initialize_variable_-_Client_ID": {
          "runAfter": {
            "Get_item": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "efd8168b-e7fd-4e4a-b4f7-c22f63c1d9d4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ClientID",
                "type": "string",
                "value": "@parameters('VTEOC-ClientID (new_ClientID)')"
              }
            ]
          }
        },
        "Initialize_variable_TenantID": {
          "runAfter": {
            "Initialize_variable_SiteUserName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "45707d6a-c1ae-435d-9897-a6866b4e473a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "Tenant ID",
                "type": "string",
                "value": "@parameters('VTEOC-TenantID (democop_DEMOTenantID)')"
              }
            ]
          }
        },
        "Initialize_variable_-_Secret_ID_Value": {
          "runAfter": {
            "Initialize_variable_TEOCNumber": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e711fa53-4c0b-464b-8a36-5c516125afa5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SecretIDValue",
                "type": "string",
                "value": "@parameters('VTEOC-SecretID-NoEncryption (democop_DEMOSecretIDNoEncryption)')"
              }
            ]
          }
        },
        "HTTP_-_Set_service_account_as_a_team_owner": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "877ae009-c93d-458b-acfd-dcbe2166771e"
          },
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://graph.microsoft.com/v1.0/teams/@{outputs('Get_item')?['body/crb97_teamid']}/members",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "@@odata.type": "#microsoft.graph.aadUserConversationMember",
              "roles": [
                "owner"
              ],
              "user@odata.bind": "https://graph.microsoft.com/v1.0/users('775165ce-8dce-42d6-a6d9-95cbe4a3b8d0')"
            },
            "authentication": {
              "type": "ActiveDirectoryOAuth",
              "tenant": "@variables('Tenant ID')",
              "audience": "https://graph.microsoft.com",
              "clientId": "@variables('ClientID')",
              "secret": "@variables('SecretIDValue')"
            }
          }
        },
        "Scope_Failure_Notifications_": {
          "actions": {
            "Compose_Flow_run_link_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "304e2c8e-c6d8-4bd0-ac4d-57951dd57763"
              },
              "type": "Compose",
              "inputs": "@concat('https://us.flow.microsoft.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"
            },
            "Send_an_email_(V2)_Failure_notification_2": {
              "runAfter": {
                "Compose_Flow_run_link_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bd4b39c2-3462-4a00-b21d-d8ac056f00d2"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_office365_1",
                  "operationId": "SendEmailV2",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                },
                "parameters": {
                  "emailMessage/To": "@parameters('VTEOC-FailureNotificationEmail (new_FailureNotificationEmail)')",
                  "emailMessage/Subject": "Your @{workflow()?['tags']?['flowDisplayName']} flow failed",
                  "emailMessage/Body": "<p>Check your flow.<br>\n<br>\n<a href=\"@{outputs('Compose_Flow_run_link_2')}\">Flow Run Link</a>&nbsp;</p>"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Terminate_Mark_flow_run_failure_2": {
              "runAfter": {
                "Send_an_email_(V2)_Failure_notification_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c3050a38-c258-4145-b3fa-4d5e80d70b67"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            }
          },
          "runAfter": {
            "Run_a_Child_Flow_-_Add_Tabs_to_a_new_incident_Temp": [
              "Failed",
              "Skipped",
              "TimedOut"
            ],
            "Call_a_Child_Flow_-_Create_ArcGIS_Group_for_Incident": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "072e1b99-2b98-4cdc-bb50-f9ef10d9a137"
          },
          "type": "Scope",
          "description": "Set this Scope's Configure run after settings to \"has failed\", \"is skipped\", and \"has timed out\"."
        },
        "Call_Child_Flow_-_Build_Org_Chart": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9daa6d25-2b2a-4672-96df-b73fef81f059"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "37a1fe71-600c-ee11-8f6e-000d3a1c0c13"
            },
            "body": {
              "text": "@variables('varTeamName')",
              "text_1": "@variables('TEOCNumber')",
              "text_2": "@variables('SharepointURL')"
            }
          }
        },
        "Call_Child_Flow_-_Add_org_chart_to_New_Incident_Team_Folder": {
          "runAfter": {
            "Call_Child_Flow_-_Build_Org_Chart": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5e53bdac-7173-4105-8da4-5025f11ff4e6"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "d799185a-600c-ee11-8f6e-000d3a1c0c13"
            },
            "body": {
              "text": "@variables('varTeamName')",
              "text_1": "@variables('SharepointURL')"
            }
          }
        },
        "Run_a_Child_Flow_-_Add_Tabs_to_a_new_incident_Temp": {
          "runAfter": {
            "Call_a_child_flow_-_Copy_Sharepoint_Site_Template_to_new_incident": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cf280c6d-4016-4c75-9674-0e104f52f7ef"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "9ebdc1b6-600c-ee11-8f6e-000d3a1c0c13"
            },
            "body": {
              "text": "@triggerOutputs()?['body/crb97_teamid']",
              "text_1": "@variables('varTeamName')",
              "text_2": "@variables('TEOCNumber')",
              "text_3": "@variables('SharepointURL')",
              "text_4": "@outputs('Remove_quotes_from_siteusername_because_of_power_automate_weirdness')"
            }
          }
        },
        "Call_Child_Flow_-_Add_Channels_to_New_Team": {
          "runAfter": {
            "Update_a_row": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c44daa06-68c3-4262-a00c-e9fa204c61e1"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "d94f066c-600c-ee11-8f6e-000d3a1c0c13"
            },
            "body": {
              "text": "@variables('varTeamName')",
              "text_1": "@triggerOutputs()?['body/crb97_teocincidenttransaction_3id']"
            }
          }
        },
        "Initialize_variable_TEOCNumber": {
          "runAfter": {
            "Initialize_variable_TenantID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bc344159-582e-4a39-b5b4-a5d4eb2b7acf"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "TEOCNumber",
                "type": "string",
                "value": "@outputs('Get_item')?['body/crb97_id']"
              }
            ]
          }
        },
        "Initialize_variable_SharepointURL": {
          "runAfter": {
            "Initialize_variable_-_Client_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8677f047-e173-45c9-a1c4-dd006070c566"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SharepointURL",
                "type": "string"
              }
            ]
          }
        },
        "HTTP_-_Get_SharePoint_URL": {
          "runAfter": {
            "HTTP_-_Set_service_account_as_a_team_owner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "29f9a44c-1ad6-4799-8c9c-b4fccabd131d"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/groups/@{triggerOutputs()?['body/crb97_teamid']}/sites/root",
            "authentication": {
              "type": "ActiveDirectoryOAuth",
              "tenant": "@variables('Tenant ID')",
              "audience": "https://graph.microsoft.com",
              "clientId": "@variables('ClientID')",
              "secret": "@variables('SecretIDValue')"
            }
          }
        },
        "Parse_JSON_-_get_weburl": {
          "runAfter": {
            "HTTP_-_Get_SharePoint_URL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "34445a98-74db-41f6-b3e4-db9980c55668"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('HTTP_-_Get_SharePoint_URL')",
            "schema": {
              "type": "object",
              "properties": {
                "@@odata.context": {
                  "type": "string"
                },
                "createdDateTime": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lastModifiedDateTime": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "webUrl": {
                  "type": "string"
                },
                "displayName": {
                  "type": "string"
                },
                "root": {
                  "type": "object",
                  "properties": {}
                },
                "siteCollection": {
                  "type": "object",
                  "properties": {
                    "hostname": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "Set_variable_SharePointURL": {
          "runAfter": {
            "Parse_JSON_-_get_weburl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "11767df0-210d-4516-b418-e6e1f30f763e"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "SharepointURL",
            "value": "@body('Parse_JSON_-_get_weburl')?['webUrl']"
          }
        },
        "Initialize_variable_SiteUserName": {
          "runAfter": {
            "Initialize_variable_SharepointURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3177f090-57dc-4c36-a307-e942000a60b7"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "SiteUserName",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable_SiteUserName": {
          "runAfter": {
            "Set_variable_varHostname": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c49d914d-90d8-4c9f-a653-bbac45b9d9de"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "SiteUserName",
            "value": "@{body('Parse_JSON_-_get_weburl')?['name']}\"@\"@{variables('varHostname')}"
          }
        },
        "Get_item": {
          "runAfter": {
            "Delay": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c0b8a33c-f452-4b78-960e-75ecec44db19"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "crb97_teocincidenttransaction_3s",
              "recordId": "@triggerOutputs()?['body/crb97_teocincidenttransaction_3id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Update_a_row": {
          "runAfter": {
            "Create_a_tag_for_a_team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "64d84540-26f8-49b3-9e25-f19feea01044"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "UpdateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "crb97_teocincidenttransaction_3s",
              "recordId": "@triggerOutputs()?['body/crb97_teocincidenttransaction_3id']",
              "item/crb97_teamid": "@variables('varTeamName')",
              "item/crb97_title": "@outputs('Get_item')?['body/crb97_title']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Delay": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "349a94ac-e7dd-4bd8-9d5a-202e61d205d0"
          },
          "type": "Wait",
          "inputs": {
            "interval": {
              "count": 90,
              "unit": "Second"
            }
          }
        },
        "Call_a_Child_Flow_-_Check_if_there_are_any_active_incidents": {
          "runAfter": {
            "Call_Child_Flow_-_Add_org_chart_to_New_Incident_Team_Folder": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "828fb20b-8a2a-4cb5-9956-d8e4e4988368"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "7c0fc3af-600c-ee11-8f6e-000d3a1c0c13"
            }
          }
        },
        "Initialize_variable_varHostname": {
          "runAfter": {
            "Initialize_varTeamName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "52fa0bdf-b275-4208-b9b8-7b8ac4b35c71"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varHostname",
                "type": "string"
              }
            ]
          }
        },
        "Set_variable_varHostname": {
          "runAfter": {
            "Set_variable_SharePointURL": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8c88328a-3585-4d68-850c-b2b639075922"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "varHostname",
            "value": "@body('Parse_JSON_-_get_weburl')?['siteCollection']?['hostname']"
          }
        },
        "Remove_quotes_from_siteusername_because_of_power_automate_weirdness": {
          "runAfter": {
            "Set_variable_SiteUserName": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d15d313d-18a5-4859-b79a-480cd0e8eb14"
          },
          "type": "Compose",
          "inputs": "@replace(variables('SiteUserName'),'\"','')"
        },
        "Call_a_child_flow_-_Copy_Sharepoint_Site_Template_to_new_incident": {
          "runAfter": {
            "Call_Child_Flow_-_Add_Channels_to_New_Team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6cd70276-2e26-472f-814c-55c8ec0390a5"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "1c3f989c-600c-ee11-8f6e-000d3a1c0c13"
            },
            "body": {
              "text": "@variables('SharepointURL')"
            }
          }
        },
        "add_incident_commander_as_owner_to_team": {
          "runAfter": {
            "add_service_account_as_owner_to_team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa4fa670-83f3-480f-a5a3-e761dc2aabdd"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "AddMemberToTeam",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "teamId": "@triggerOutputs()?['body/crb97_teamid']",
              "body/userId": "@triggerOutputs()?['body/crb97_incidentcommander']",
              "body/owner": true
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Create_a_tag_for_a_team": {
          "runAfter": {
            "add_incident_commander_as_owner_to_team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "aa7314da-a0b7-45de-a796-5bfbc35ae54e"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams_1",
              "operationId": "CreateTag",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "groupId": "@triggerOutputs()?['body/crb97_teamid']",
              "body/displayName": "Incident Commander",
              "body/members": "@triggerOutputs()?['body/crb97_incidentcommander']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Call_a_Child_Flow_-_Create_ArcGIS_Group_for_Incident": {
          "runAfter": {
            "Call_a_Child_Flow_-_Check_if_there_are_any_active_incidents": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9989af01-6d28-44fc-8bc1-9d46a3f23783"
          },
          "type": "Workflow",
          "inputs": {
            "host": {
              "workflowReferenceName": "50736ab0-bf69-ee11-9ae7-000d3a1f63e3"
            },
            "body": {
              "text": "@variables('varTeamName')",
              "text_1": "@triggerOutputs()?['body/crb97_teamid']"
            }
          }
        },
        "Set_variable": {
          "runAfter": {
            "Set_variable_varTeamName2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "69886e72-8a70-4c9c-b34d-1ab4796284fe"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "groupID",
            "value": "@triggerOutputs()?['body/crb97_teamid']"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}